<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="ISO-8859-1">
	<title>Gestionale Pratiche</title>
</head>

<body>
	<div align="center">

		<div th:replace="fragments/page-header :: header"></div>

	</div>
	<div align="center">

		<h3>Lista avanzamenti per la pratica</h3>
		
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Identificativo</th>
					<th>Descrizione</th>
					<th>Cliente</th>
					<th>Stato</th>
				</tr>
				</thead>
			<tbody>
				<tr>
					<td th:text="${pratica.id}">ID</td>
					<td th:text="${pratica.identificativo}">Identificativo</td>
					<td th:text="${pratica.descrizione}">Descrizione</td>
					<td th:text="${pratica.cliente}">Cliente</td>
					<td th:text="${pratica.stato}">Stato</td>
				</tr>
			</tbody>
		</table>
				
		<hr>
		
		<a sec:authorize="hasRole('ADMIN')" th:href="@{'/avanzamenti/new?pratica=' + ${pratica.id}}">Crea nuovo avanzamento</a>

		<br><br>		

		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<td>th:switch e th:if non mi funzionano, stato pratica: </td>
					<td th:text="${pratica.stato}"></td>
					
					<td th:switch="${pratica.stato}">qui dovrebbe riuscire lo stato, oltre al bottone indietro...
					    <div th:case="'nuova'">nuova</div>
					    <div th:case="'rigettata'">rigettata</div>
					    <div th:case="'in lavorazione'">in lavorazione</div>
					    <div th:case="'da notificare'">da notificare</div>
					    <div th:case="'da depositare'">da depositare</div>
					    <div th:case="'in scadenza'">in scadenza</div>
					    <div th:case="'scaduta'">scaduta</div>
					    <div th:case="'in dibattimento'">in dibattimento</div>
					    <div th:case="'da fatturare'">da fatturare</div>
					    <div th:case="'evasa'">evasa</div>
					    <div th:case="*"><form><input type="button" value="Indietro" onclick="history.back()"></form></div>
					</td>
					
					<td>qui dovrebbe riuscire lo stato, se la pratica e' rigettata...<div th:if="${pratica.stato} eq 'rigettata'">rigettata</div></td>
				</tr>
			</tbody>
		</table>
		

		<br><br>

		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Data</th>
					<th>Descrizione</th>
					<th>Stato precedente</th>
					<th>Stato attuale</th>
					<th sec:authorize="hasRole('ADMIN')">Azioni</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="avanzamento : ${listaAvanzamenti}">
					<td th:text="${avanzamento.id}">ID</td>
					<td th:text="${avanzamento.data}">Data</td>
					<td th:text="${avanzamento.descrizione}">Descrizione</td>
					<td th:text="${avanzamento.statoPrecedente}">Stato precedente</td>
					<td th:text="${avanzamento.statoAttuale}">Stato attuale</td>
					<td sec:authorize="hasRole('ADMIN')">
						<a th:href="@{'/avanzamento/edit/' + ${avanzamento.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/avanzamento/delete/' + ${avanzamento.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>