<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="ISO-8859-1">
	<title>Gestionale Pratiche</title>
</head>

<body>
	<div align="center">

		<div th:replace="fragments/page-header :: header"></div>

	</div>
	<div align="center">

		<h3>Lista avanzamenti per la pratica</h3>
		
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Identificativo</th>
					<th>Descrizione</th>
					<th>Cliente</th>
					<th>Stato</th>
					<th>Professionisti</th>
				</tr>
				</thead>
			<tbody>
				<tr>
					<td th:text="${pratica.id}">ID</td>
					<td th:text="${pratica.identificativo}">Identificativo</td>
					<td th:text="${pratica.descrizione}">Descrizione</td>
					<td th:text="${pratica.cliente}">Cliente</td>
					<td th:text="${pratica.stato}">Stato</td>
					<td>
						<table><tr th:each="professionista : ${pratica.professionisti}">
							<td th:text="${professionista}">Professionisti</td>
						</tr></table>
					</td>
				</tr>
			</tbody>
		</table>
				
		<hr>
		
		<a sec:authorize="hasRole('ADMIN')" th:href="@{'/avanzamenti/new?pratica=' + ${pratica.id}}">Crea nuovo avanzamento</a>

		<br><br>		

		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<td th:switch="${stato}">
					    
					    <div th:case="'nuova'">
					    	<form action="#" th:action="@{'/avanzamenti/gestione/?pratica=' + ${pratica.id}}" method="post">
					    		<table>
					    			<tr>
										<td>Professionisti:</td>
										<td colspan="4">
											<input type="checkbox" name="professionisti"
									            th:each="professionista : ${listaProfessionisti}"
									            th:text="${professionista}"
									            th:value="${professionista.id}"
									        />
										</td>
									</tr>
									<tr>
										<td>Commento:</td>
										<td><input type="text" size="50" id="commento" name="commento" /></td>
										<td>Scadenza:</td>
										<td><input type="text" id="scadenza" name="scadenza" /></td>
										<td><button type="submit" name="azione" value="presaInCarico">Prendi in carico</button></td>
									</tr>
					    		</table>
					    	</form>
					    </div>
					    
					    <div th:case="'rigettata'">la pratica e' stata rigettata, nessuna altra operazione possibile</div>
					    
					    <div th:case="'in lavorazione'">
					    	<form action="#" th:action="@{'/avanzamenti/gestione/?pratica=' + ${pratica.id}}" method="post">
					    		Commento: <input type="text" id="commento" name="commento" />
					    		<button type="submit" name="azione" value="prontoPerNotifica">Pronto per notifica</button>
					    		<button type="submit" name="azione" value="praticaRigettata">Rigetta pratica</button>
					    	</form>
						</div>
					    
					    <div th:case="'da notificare'">
					    	<form action="#" th:action="@{'/avanzamenti/gestione/?pratica=' + ${pratica.id}}" method="post">
					    		Commento: <input type="text" id="commento" name="commento" />
					    		<button type="submit" name="azione" value="prontoPerDeposito">Pronto per deposito</button>
					    	</form>
						</div>
					    
					    <div th:case="'da depositare'">
							<form action="#" th:action="@{'/avanzamenti/gestione/?pratica=' + ${pratica.id}}" method="post">
					    		Commento: <input type="text" id="commento" name="commento" />
					    		<button type="submit" name="azione" value="inDibattimento">In dibattimento</button>
					    	</form>
						</div>
					    
					    <div th:case="'in scadenza'">la pratica e' in scadenza, sollecitare i professionisti coinvolti</div>
					    
					    <div th:case="'scaduta'">la pratica e' scaduta, nessuna altra operazione possibile</div>
					    
					    <div th:case="'in dibattimento'">
					    	<form action="#" th:action="@{'/avanzamenti/gestione/?pratica=' + ${pratica.id}}" method="post">
					    		Commento: <input type="text" id="commento" name="commento" />
					    		<button type="submit" name="azione" value="daFatturare">Da fatturare</button>
					    	</form>
					    </div>
					    
					    <div th:case="'da fatturare'">
					   		<form action="#" th:action="@{'/avanzamenti/gestione/?pratica=' + ${pratica.id}}" method="post">
					    		Commento: <input type="text" id="commento" name="commento" />
					    		<button type="submit" name="azione" value="praticaEvasa">Evasa</button>
					    	</form>
					    </div>
					    
					    <div th:case="'evasa'">la pratica e' stata evasa, nessuna altra operazione possibile</div>
					</td>
				</tr>
			</tbody>
		</table>
		

		<br><br>

		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Data</th>
					<th>Descrizione</th>
					<th>Stato precedente</th>
					<th>Stato attuale</th>
					<th sec:authorize="hasRole('ADMIN')">Azioni</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="avanzamento : ${listaAvanzamenti}">
					<td th:text="${avanzamento.id}">ID</td>
					<td th:text="${avanzamento.data}">Data</td>
					<td th:text="${avanzamento.descrizione}">Descrizione</td>
					<td th:text="${avanzamento.statoPrecedente}">Stato precedente</td>
					<td th:text="${avanzamento.statoAttuale}">Stato attuale</td>
					<td sec:authorize="hasRole('ADMIN')">
						<a th:href="@{'/avanzamenti/edit/' + ${avanzamento.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/avanzamenti/delete/' + ${avanzamento.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>