<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="ISO-8859-1">
	<title>Gestionale Pratiche</title>
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
	
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"/>
</head>

<body>
	<div align="center">

		<div th:replace="fragments/page-header :: header"></div>

	</div>
	<div align="center">
	
		<h3>Creazione avanzamento per la pratica</h3>
		
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Identificativo</th>
					<th>Descrizione</th>
					<th>Cliente</th>
					<th>Stato</th>
				</tr>
				</thead>
			<tbody>
				<tr>
					<td th:text="${pratica.id}">ID</td>
					<td th:text="${pratica.identificativo}">Identificativo</td>
					<td th:text="${pratica.descrizione}">Descrizione</td>
					<td th:text="${pratica.cliente}">Cliente</td>
					<td th:text="${pratica.stato}">Stato</td>
				</tr>
			</tbody>
		</table>		
		<hr>
	
		<h3>Creazione nuovo avanzamento</h3>
		<form action="#" th:action="@{/avanzamenti/save}" th:object="${avanzamento}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Pratica ID:</td>
					<td><input type="text" id="pratica_id" name="pratica_id" th:value="${pratica.id}" readonly /></td>
				</tr>
				<tr>
					<td>Data:</td>
					<td><input id="data" type="text" th:field="*{data}" /></td>
				</tr>
				<tr>
					<td>Scadenza:</td>
					<td><input id="scadenza" type="text" th:field="*{scadenza}" /></td>
				</tr>
				<tr>
					<td>Descrizione:</td>
					<td><input type="text" th:field="*{descrizione}" /></td>
				</tr>
				<tr>
					<td>Stato attuale:</td>
					<td>
						<select name="statoAttuale">
							<option th:each="stato : ${listaStatiAttuali}"
				            th:text="${stato.stato}"
				            th:value="${stato.id}"
				            th:field="*{statoAttuale}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Stato precedente:</td>
					<td>
						<select name="statoPrecedente">
							<option th:each="stato : ${listaStatiPrecedenti}"
				            th:text="${stato.stato}"
				            th:value="${stato.id}"
				            th:field="*{statoPrecedente}"></option>
						</select>
					</td>
				</tr>	
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
<script type="text/javascript">
$(document).ready(function() {
	$(function() {
	$("#data").datetimepicker({format:'Y-m-d H:i:s'});
	$("#scadenza").datetimepicker({format:'Y-m-d H:i:s'});
	});
});
</script>
</html>