<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="ISO-8859-1">
	<title>Gestionale Pratiche</title>
</head>

<body>
	<div align="center">

		<div th:replace="fragments/page-header :: header"></div>

	</div>
	<div align="center">

		<h3>Lista clienti</h3>
		
		<a href="clienti/new">Crea nuovo cliente</a>

		<br /><br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Ragione Sociale</th>
					<th>Codice Fiscale</th>
					<th sec:authorize="hasRole('ADMIN')">Azioni</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente : ${listaClienti}">
					<td th:text="${cliente.id}">ID</td>
					<td th:text="${cliente.ragioneSociale}">Ragione Sociale</td>
					<td th:text="${cliente.codiceFiscale}">Codice Fiscale</td>
					<td sec:authorize="hasRole('ADMIN')">
						<a th:href="@{'/clienti/edit/' + ${cliente.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/clienti/delete/' + ${cliente.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>