<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="ISO-8859-1">
	<title>Gestionale Pratiche</title>
</head>

<body>
	<div align="center">

		<div th:replace="fragments/page-header :: header"></div>

	</div>
	<div align="center">
	
		<h3>Creazione nuovo cliente</h3>
		
		<form action="#" th:action="@{/clienti/save}" th:object="${cliente}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Ragione Sociale:</td>
					<td><input type="text" th:field="*{ragioneSociale}" /></td>
				</tr>
				<tr>
					<td>Codice Fiscale:</td>
					<td><input type="text" th:field="*{codiceFiscale}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>