<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="ISO-8859-1">
	<title>Gestionale Pratiche</title>
</head>

<body>
	<div align="center">

		<div th:replace="fragments/page-header :: header"></div>

	</div>
	<div align="center">

		<h3>Lista pratiche</h3>
		
		<a href="/pratiche/?filtro=inScadenza">Pratiche in scadenza</a> - 
		<a href="/pratiche/?filtro=daFatturare">Pratiche da fatturare</a> - 
		<a href="/pratiche/new">Crea nuova pratica</a>

		<br /><br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Identificativo</th>
					<th>Descrizione</th>
					<th>Cliente</th>
					<th>Tipo</th>
					<th>Stato</th>
					<th>Professionisti</th>
					<th>Avanzamento</th>
					<th sec:authorize="hasRole('ADMIN')">Azioni</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="pratica : ${listaPratiche}">
					<td th:text="${pratica.id}">ID</td>
					<td th:text="${pratica.identificativo}">Identificativo</td>
					<td th:text="${pratica.descrizione}">Descrizione</td>
					<td th:text="${pratica.cliente}">Cliente</td>
					<td th:text="${pratica.tipo}">Tipo</td>
					<td th:text="${pratica.stato}">Stato</td>
					<td>
						<table><tr th:each="professionista : ${pratica.professionisti}">
							<td th:text="${professionista}">Professionisti</td>
						</tr></table>
					</td>
					<td>
						<a th:href="@{'/avanzamenti/?pratica=' + ${pratica.id}}">Gestisci</a>
					</td>
					<td sec:authorize="hasRole('ADMIN')">
						<a th:href="@{'/pratiche/edit/' + ${pratica.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/pratiche/delete/' + ${pratica.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>