<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="ISO-8859-1">
	<title>Gestionale Pratiche</title>
</head>

<body>
	<div align="center">

		<div th:replace="fragments/page-header :: header"></div>

	</div>
	<div align="center">
	
		<h3>Creazione nuova pratica</h3>
		
		<form action="#" th:action="@{/pratiche/save}" th:object="${pratica}" method="post">
			<table border="0" cellpadding="10" width="80%">
				<tr>
					<td>Identificativo:</td>
					<td><input type="text" th:field="*{identificativo}" /></td>
				</tr>
				<tr>
					<td>Descrizione:</td>
					<td><input type="text" th:field="*{descrizione}" /></td>
				</tr>
				<tr>
					<td>Cliente:</td>
					<td>
						<select name="cliente">
							<option th:each="cliente : ${listaClienti}"
				            th:text="${cliente}"
				            th:value="${cliente.id}"
				            th:field="*{cliente}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Tipo:</td>
					<td>
						<select name="tipo">
							<option th:each="tipo : ${listaTipi}"
				            th:text="${tipo.tipo}"
				            th:value="${tipo.id}"
				            th:field="*{tipo}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Stato:</td>
					<td>
						<select name="stato">
							<option th:each="stato : ${listaStati}"
				            th:text="${stato.stato}"
				            th:value="${stato.id}"
				            th:field="*{stato}"></option>
						</select>
					</td>
				</tr>				
				<tr>
					<td>Professionisti:</td>
					<td>
						<input type="checkbox" name="professionisti"
				            th:each="professionista : ${listaProfessionisti}"
				            th:text="${professionista}"
				            th:value="${professionista.id}"
				            th:field="*{professionisti}"
				        />
					</td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>