<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="ISO-8859-1">
	<title>Gestionale Pratiche</title>
	<link rel="stylesheet" href="/css/baseStyle.css">
</head>
<body>
<div align="center">	

	<div th:replace="_fragments/page-header :: header"></div>
	
	<h3>Errore</h3>

	<table class="styled-table">
		<tr>
			<th th:if="${timestamp}">Errore occorso il:</th>
			<td><span th:text="${timestamp}">Timestamp</span></td>
		</tr>
		<tr th:if="${status}">
			<th>Response Status:</th>
			<td>
				<span th:text="${status}">status-code</span> 
				<span th:if="${error}" th:text="'('+${error}+')'">error ...</span>
			</td>
		</tr>
		<tr>
			<th>Causa:</th>
			<td>
				<span th:if="${exception}" th:text="${exception}">exception ...</span>
				<span th:if="${message} and ${message.length() != 0}" th:text="${message}">message ...</span>
			</td>
		</tr>
	</table>
</div>
</body>
</html>
