<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="ISO-8859-1">
	<title>Gestionale Pratiche</title>
	<link rel="stylesheet" href="/css/baseStyle.css">
</head>
<body>
<div align="center">	

	<div th:replace="_fragments/page-header :: header"></div>

	<h3>Benvenuto, usa i link nell'header per procedere</h3>
	
	<h4>Stato del sistema</h4>
		
		<div th:if="${listaJobs.size() == 0}">
		Nessun automatismo attualmente configurato, richiedere all'amministratore di farlo.
		</div>
		<div th:if="${listaJobs.size() > 0}">
		Automatismo correttamente configurato.
		<br><br>
		<table>
			<thead>
				<tr>
					<th>Automatismo</th>
					<th>Prossima Esecuzione</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="job : ${listaJobs}">
					<td th:text="${job.groupName}">Automatismo</td>
					<td th:text="${job.nextExec}">Prossima Esecuzione</td>
				</tr>
			</tbody>
		</table>
		</div>
		
</div>
</body>
</html>