<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
	<div th:fragment="header">
	
		<table class="styled-table" style="width: 100%;">
			<tr>
				<td align="left"><h2><a href="/">Gestionale pratiche</a></h2></td>
				<td align="right">
					<form th:action="@{/logout}" method="post">
						Logged as: [[${#httpServletRequest.remoteUser}]]
						&nbsp;&nbsp;&nbsp;
						<input type="submit" value="Logout" />
					</form>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<a sec:authorize="hasAuthority('ADMIN')" href="/utenti">Utenti</a>&nbsp;&nbsp;&nbsp;
					<a href="/pratiche">Pratiche</a>&nbsp;&nbsp;&nbsp;
					<a href="/clienti">Clienti</a>&nbsp;&nbsp;&nbsp;
					<a href="/specializzazioni">Specializzazioni</a>&nbsp;&nbsp;&nbsp;
					<a sec:authorize="hasAuthority('ADMIN')" href="/quartzJobs">Quartz Jobs</a>&nbsp;&nbsp;&nbsp;
				</td>
			</tr>
		</table>
	</div>
</body>

</html>