<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="ISO-8859-1">
	<title>Gestionale Pratiche</title>
	<link rel="stylesheet" href="/css/baseStyle.css">
</head>

<body>
	<div align="center">

		<div th:replace="_fragments/page-header :: header"></div>

	</div>
	<div align="center">

		<h3>Lista jobs</h3>
		
		<a sec:authorize="hasAuthority('ADMIN')" href="quartzJobs/new">Crea nuovo job</a>

		<br /><br />
		<table class="styled-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Gruppo</th>
					<th>Prossima Exec</th>
					<th>Anticipo in giorni</th>
					<th sec:authorize="hasAuthority('ADMIN')">Azioni</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="job : ${listaJobs}">
					<td th:text="${job.jobName}">ID</td>
					<td th:text="${job.groupName}">Gruppo</td>
					<td th:text="${job.nextExec}">Prossima Exec</td>
					<td th:text="${job.giorniAnticipo}">Anticipo in giorni</td>
					<td sec:authorize="hasAuthority('ADMIN')">
						<a th:href="@{'/quartzJobs/delete/?jobName=' + ${job.jobName}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>